@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
$font-family: 'Fira Sans', sans-serif;
$font-size: 0.9rem;
$back-base-color: hsl(200, 100%, 35%);
$fore-base-color: hsl(50, 10%, 90%);
