@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
$font-family: 'Fira Sans', sans-serif;
$font-size: 0.9rem;
$primary: hsl(197, 99%, 35%);
$secondary: hsl(197, 99%, 38%);
$tertiairy: hsl(197, 99%, 33%);
$quadrairy: hsl(197, 99%, 32%);
$quintairy: hsl(50, 10%, 90%);
