$font-family: sans-serif !default;
$font-size: 1rem !default;
$primary: red !default;
$secondary: blue !default;
$tertiairy: yellow !default;
$quadrairy: brown !default;
$quintairy: violet !default;
$bg: $primary;
$bdr-high: $secondary;
$bdr-low-pri: $tertiairy;
$bdr-low-sec: $quadrairy; 
$color: $quintairy;

& {
  background-color: $bg;
  transition: background-color, color 0.3s linear 0.1s;
  border: 0.1rem solid $bdr-high;
  border-bottom-color: $bdr-low-pri;
  border-right-color: $bdr-low-sec;
  color: $color;
  border-radius: 0.3rem;
  font-family: $font-family;
  font-size: $font-size;
  text-align: center;
  cursor: pointer;
  display: grid;
  > span {
    grid-column: 1;
    grid-row: 1;
  }
  > span:nth-of-type(1) {
    transition: all 0.3s ease-in-out 0.1s;
    transform: scale(0);
    opacity: 0;
    border-radius: 50% 25%;
    z-index: 10;
    background-color: hsl(197, 95%, 40%);
  }
  > span:nth-of-type(2) {
    padding: 0.3rem 0.5rem;
    z-index: 20;
  }
}
&:hover {
  color: hsl(50, 0%, 100%);
  border-color: hsl(197, 99%, 30%);
  border-top-color: $bdr-high;
  transition: border, color 0.1s linear 0.3s;
  > span:nth-of-type(1) {
    transform: scale(1);
    opacity: 1;
    border-radius: 0.2rem;
  }
}
&:active, &[active] {
  color: $color;
  cursor: default;
  border-color: $bdr-low-sec;
  border-bottom-color: $bdr-high;
  border-right-color: hsl(197, 99%, 40%);
  transition: background-color 0.3s linear 0.1s;
  transition: border, color 0.1s linear 0.3s;
  background-color: hsl(197, 99%, 30%);
  > span:nth-of-type(1) {
    transform: scale(0);
    opacity: 0;
    border-radius: 50% 25%;
  }
}
&:focus {
  outline: none;
}
button {
  display: none;
}
